 
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.eot');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

div.conteiner{
    padding: 30px 120px 52px;
    display: flex;
    flex-direction: column;
}

header.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

menu.menu{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

li.menuItem{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    border-bottom: 3px solid transparent;
}

li.menuItem.active{
    font-family: "Cera Pro Bold", sans-serif;
    border-color:#46A358;
}

header.header > button.btn{
    border-radius: 6px;
    background: #46A358;
    color: #fff;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px 17px;
}

main.main{
    display: flex;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

div.text{
    padding: 68px 40px 85px;
}

span.first{
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

p.second{
    color: #3D3D3D;
    font-family: "Cera Pro Black", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
}
p.second > span{
    color: #46A358;
}
p.third{
    color: #727272;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    width: 80%;
}
div.text > button.btn{
    background-color: #46A358;
    color: #fff;
    padding: 11px 27px;
    border-radius: 6px;
    margin-top: 44px;
}

div.image{
    position: relative;
}

img.small{
    position: absolute;
    bottom: 8%;
    left: 8%;
}