 
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.eot');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

div.conteiner{
    padding: 70px 120px;
    display: flex;
    flex-direction: column;
  
}
/*hw 6*/

header.header{
    display: flex;
    justify-content: space-between;
    align-items: start;
    border-bottom: 1px solid rgba(70, 163, 88, 0.50);
    margin-bottom: 12px;
}

menu.menu{
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

li.menuItem{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 16px;
    padding-bottom: 25px;
    border-bottom: 3px solid transparent;
    position: relative;
}

li.menuItem:hover > ul.submenu1{
    display: flex;
}

ul.submenu1{
    position: absolute;
    top: 20px;
    left: -20px;
    display: none;
    flex-direction: column;
    max-width: 157px;
    min-width: 157px;
    padding-top: 20px;
    z-index: 10;
}

ul.submenu2{
    position: absolute;
    display: none;
    flex-direction: column;
    max-width: 170px;
    min-width: 170px;
    left: 147px;
    padding-left: 10px;
    z-index: 10;
    top: -102px;
}

li.submenu1Item, li.submenu2Item{
    padding: 7px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 16px;
    background-color: #EDF6EE;
    position: relative;
}

li.submenu1Item:hover, li.submenu2Item:hover{
    background-color: #1a712a;
    color: #fff;
}

li.submenu1Item:hover > ul.submenu2{
    display: flex;
}

li.menuItem.active{
    font-family: "Cera Pro Bold", sans-serif;
    border-color:#46A358;
}

header.header > button.btn{
    border-radius: 6px;
    background: #46A358;
    color: #fff;
    display: flex;
    gap: 4px;
    justify-content: center;
    align-items: center;
    padding: 8px 17px;
    margin-top: 0;
}

main.main{
    display: flex;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
}

div.text{
    padding: 68px 40px 85px;
}

span.first{
    color: #3D3D3D;
    font-family: "Cera Pro Medium", sans-serif;
    font-size: 14px;
    text-transform: uppercase;
}

p.second{
    color: #3D3D3D;
    font-family: "Cera Pro Black", sans-serif;
    font-size: 70px;
    text-transform: uppercase;
}
p.second > span{
    color: #46A358;
}
p.third{
    color: #727272;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    width: 80%;
}
div.text > button.btn{
    background-color: #46A358;
    color: #fff;
    padding: 11px 27px;
    border-radius: 6px;
    margin-top: 44px;
}

div.image{
    position: relative;
}

img.small{
    position: absolute;
    bottom: 8%;
    left: 8%;
}
/*hw 6 end*/
/*hw 7*/
div.flowers{
    display: flex;
    gap: 50px;
    margin-bottom: 100px;
    margin-top: 20px;

}

div.conteiner-left{
    display: flex;
    flex-direction: column;
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 16px;
    background: linear-gradient(98deg, rgba(245, 245, 245, 0.50) -23.46%, rgba(245, 245, 245, 0.50) 107.51%);
   
}
div.conteiner-right{
    /* margin-left: 50px; */
}

div.categories{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    padding: 14px 18px;
}
menu.categories{
    padding: 15px 15px;
    margin-bottom: 370px;
}

h4.catItem{
    color: #3D3D3D;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 14px;
}

li.catItem{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    padding-bottom: 8px;
}

li.catItem.active{
    font-family: "Cera Pro Bold", sans-serif;
    color: #46A358;
    border-color:#46A358;
}
div.promo{
    display: flex;
    width: 310px;
    height: auto;
    padding-right: 50px;
    align-items: flex-end;
}

header.rightheader{
    display: flex;
    justify-content: space-between;
    /* align-items: start; */
    margin-bottom: 12px;
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 12px;
    align-items: center;
    padding-bottom: 30px;
}

p.sort{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    align-items: center;
    align-content: space-around;
    gap: 2px;
}

menu.menu{
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    align-content: space-between;
    flex-direction: row;
    gap: 50px;
    align-items: center;
   
}

li.menuItem{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 12px;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
}

li.menuItem.active{
    font-family: "Cera Pro Bold", sans-serif;
    color: #46A358;
    border-color:#46A358;
}

ul.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    gap: 70px 37px;
    /* color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 12px;
     */
}

li.list-item{
    border-top: 1px solid transparent;
}

li.list-item:hover{
    border-color: #46A358;
}

li.list-item:hover ul.controls{
    display: flex;
}


div.listItemControl{
    position: relative;
}

ul.controls{
    display: none;
    position: absolute;
    bottom: 7px;
    left: 25%;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

span.offertext{
    display: inline-block;
    background-color: #46A358;
    color: #FFF;
    position: absolute;
    top: 14px;
    left: 0;
    font-size: 16px;
    font-family: "Cera Pro Medium";
    padding: 7px 8px;
}

span.priceoff{
    display: inline-block;
    font-size: 18px;
    font-family: "Cera Pro Regular";
    text-decoration: line-through;
    margin-left: 16px;
    color: #A5A5A5;
}

button.controlsButton{
    border-radius: 4px;
    background-color: #fff;
    padding: 8px;
    cursor: pointer;
}

button.controlsButton > svg path{
    fill: #3D3D3D;
}

button.controlsButton:hover > svg path{
    fill: #46A358;
}


img.img{
   height: 250px;
}
li.list-item > p.text{
    color: #3D3D3D;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 16px;

}

p.price{
    color:#46A358;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 18px;
}

div.pages{
    display: flex;
    justify-content: flex-end;
    flex-flow: row wrap;
    align-content: space-around;
    gap: 2px;
    margin-top: 90px;
    flex-direction: row;
    align-items: flex-end;
}

button.button{
    
    background-color: #fbf8f8;
    color: #000;
    /* margin-top: 10px; */
    font-family: "Cera Pro Regular", sans-serif;
    border-radius: 4px;
    border: 1px solid #E5E5E5;
    padding: 4px 9px;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
}

.button.active{
    background-color: #46A358;
    color: #fff;
}

/*hw 7 end*/
/*hw8*/
div.card{
    display: flex;
    background: #FBFBFB;
    position: relative;
    padding: 37px 30px 45px 190px;
}
div.card > img.img {
    width: 287px;
    position: absolute;
    bottom: 0;
    left: 0;
}

div.card > div.textCard{
    display: flex;
    flex-direction: column;
    align-items: end;
}

div.textCard > p.card, h4.card{
    text-align: right;
}

div.textCard > button.btn{
    display: flex;
    align-items: center;
}

div.top{
    display: flex;
    gap: 28px;
    margin-bottom: 138px;
}

ul.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 28px;
}

li.text{
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: end;
    justify-content: flex-end;
}

p.card{
    
    color: #727272;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    margin-top: 14px;
    width: 80%;
   
}

h4.card{
    text-transform: uppercase;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 18px;
    width: 39%;
}

button.btn{
    background-color: #46A358;
    color: #fff;
    padding: 11px 27px;
    border-radius: 6px;
    margin-top: 25px;
    align-items: center;
    gap: 5px;
    
}

h3.header{
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 30px;
    text-align: center;
}

p.header{
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

ul.post{
    display: flex;
    gap: 42px;
    margin-top: 35px;
    justify-content: space-between;
}

li.post{
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
}

li.post > img.img{
    width: 268px;
    height: auto;
}

div.postText{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 268px;
    padding: 9px 13px 13px;
}
div.postText > button {
    margin-top: 9px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

div.postText > button:hover{
    color: #46A358;
}

div.postText > button:hover>svg>path{
    fill: #46A358;
}

p.post{
    color: #46A358;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    gap: 10px;
}

p.blog{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    gap: 15px;
}

p.text{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

footer.footer{
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
    margin-top: 100px;
}
div.footer1{
    display: flex;
    align-items: center;
    padding: 25px;
    gap: 30px;
}
div.footerCard{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 108px;
}
div.footerCard.image1{
    background-image: url('../img/PictureFooter1.png');
    background-repeat: no-repeat;
}
div.footerCard.image2{
    background-image: url('../img/PictureFooter2.png');
    background-repeat: no-repeat;
}
div.footerCard.image3{
    background-image: url('../img/PictureFooter3.png');
    background-repeat: no-repeat;
}

h5.footerCardHeading{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 17px;
    margin-bottom: 10px;
}

p.footerCardText{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

div.separator{
    border-right: 1px solid ;
    border-color: rgba(70, 163, 88, 0.10);
    min-width: 1px;
    min-height: 187px;
}
div.newsletter{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 32px;
}

div.news{
    display: flex;
    align-items: center;
    
}

div.news > input{
    border-radius: 6px 0 0 6px;
    background: #FFF;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.06);
    padding: 12px 11px;
    font-family: "Cera Pro Regular";
    font-size: 14px;    
    flex-grow: 1;
}

div.news > button{
    border-radius: 0 6px 6px 0;
    background: #46A358;
    color: #FFF;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    padding: 10px 24px;
}

div.news > input::placeholder{
    color: #ACACAC;
}
div.newsletter > p.footerCardText{
    font-size: 13px;
    margin-top: 18px;
    text-align: justify;
}
div.newsletter > h5.footerCardHeading{
    font-size: 18px;
    margin-bottom: 25px;
    padding-top: 13px;
}

div.footer2{
    background: linear-gradient(90deg, #EDF6EF 0%, #52C368 100%);
    padding: 25px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.footer2 > div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

div.footer2 > div > span {
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

div.footer3{
    padding: 33px 25px;
    display: flex;
    justify-content: left;
    align-items: start;
    border-bottom:  1px solid rgba(70, 163, 88, 0.20);;
}
div.footer3 > ul {
    display: flex;
    justify-content: space-between;
    align-items: start;
    min-width: 55%;
}
div.footer3  h5{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 18px;
    margin-bottom: 15px;
}

div.footer3 ul > li > ul > li{
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    margin-bottom: 15px;
}

div.social{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 33px;
    margin-left: 173px;
}
div.socialSocial{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
div.socialSocial > ul{
    display: flex;
    gap: 10px;
}
div.socialSocial > ul>li>button{
    background-color: transparent;
}

div.socialPayment{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 13px;
}

p.copyright{
    font-size: 14px;
    font-family: "Cera Pro Regular";
    color: #727272;
    text-align: center;
    margin-bottom: 20px;
    margin-top: 10px;
}