 
@font-face {
    font-family: "Cera Pro Regular";
    src: url('../fonts/CeraPro-Regular.eot');
    src: local('Cera Pro Regular'), local('CeraPro-Regular'),
        url('../fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Regular.woff2') format('woff2'),
        url('../fonts/CeraPro-Regular.woff') format('woff'),
        url('../fonts/CeraPro-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Medium";
    src: url('../fonts/CeraPro-Medium.eot');
    src: local('Cera Pro Medium'), local('CeraPro-Medium'),
        url('../fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Medium.woff2') format('woff2'),
        url('../fonts/CeraPro-Medium.woff') format('woff'),
        url('../fonts/CeraPro-Medium.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Bold";
    src: url('../fonts/CeraPro-Bold.eot');
    src: local('Cera Pro Bold'), local('CeraPro-Bold'),
        url('../fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Bold.woff2') format('woff2'),
        url('../fonts/CeraPro-Bold.woff') format('woff'),
        url('../fonts/CeraPro-Bold.ttf') format('truetype');
}
@font-face {
    font-family: "Cera Pro Black";
    src: url('../fonts/CeraPro-Black.eot');
    src: local('Cera Pro Black'), local('CeraPro-Black'),
        url('../fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/CeraPro-Black.woff2') format('woff2'),
        url('../fonts/CeraPro-Black.woff') format('woff'),
        url('../fonts/CeraPro-Black.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    border: none;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

div.conteiner{
    padding: 70px 120px;
    display: flex;
    flex-direction: column;
    gap: 138px;
}

div.card{
    display: flex;
    background: #FBFBFB;
    position: relative;
    padding: 37px 30px 45px 190px;
}
div.card > img.img {
    width: 287px;
    position: absolute;
    bottom: 0;
    left: 0;
}

div.card > div.text{
    display: flex;
    flex-direction: column;
    align-items: end;
}

div.text > p.card, h4.card{
    text-align: right;
}

div.text > button.btn{
    display: flex;
    align-items: center;
}

div.top{
    display: flex;
    gap: 28px;

}

ul.card{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    gap: 28px;
}

li.text{
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: end;
    justify-content: flex-end;
}

p.card{
    
    color: #727272;
    font-family: "Cera Pro Regular", sans-serif;
    font-size: 14px;
    margin-top: 14px;
    width: 80%;
   
}

h4.card{
    text-transform: uppercase;
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 18px;
    width: 39%;
}

button.btn{
    background-color: #46A358;
    color: #fff;
    padding: 11px 27px;
    border-radius: 6px;
    margin-top: 25px;
    align-items: center;
    gap: 5px;
    
}

h3.header{
    font-family: "Cera Pro Bold", sans-serif;
    font-size: 30px;
    text-align: center;
}

p.header{
    color: #727272;
    text-align: center;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

ul.post{
    display: flex;
    gap: 42px;
    margin-top: 35px;
}

li.post{
    display: flex;
    flex-direction: column;
    background: #FBFBFB;
}

li.post > img.img{
    width: 268px;
}

div.postText{
    display: flex;
    flex-direction: column;
    align-items: start;
    max-width: 268px;
    padding: 9px 13px 13px;
}
div.postText > button {
    margin-top: 9px;
    background-color: transparent;
    display: flex;
    align-items: center;
    color: #3D3D3D;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

div.postText > button:hover{
    color: #46A358;
}

div.postText > button:hover>svg>path{
    fill: #46A358;
}

p.post{
    color: #46A358;
    font-family: "Cera Pro Regular";
    font-size: 14px;
    gap: 10px;
}

p.blog{
    color: #3D3D3D;
    font-family: "Cera Pro Bold";
    font-size: 20px;
    gap: 15px;
}

p.text{
    color: #727272;
    font-family: "Cera Pro Regular";
    font-size: 14px;
}

